<h1 style="background-position-x: 200px">Регистрация</h1>

<table class="form-table">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <tr>
  	<td class="label"><%= f.label :name %></td>
  	<td><%= f.text_field :name %></td>
  </tr>

  <tr>
  	<td class="label"><%= f.label :email %></td>
  	<td><%= f.email_field :email %></td>
  </tr>

  <tr>
  	<td class="label"><%= f.label :password %></td>
  	<td><%= f.password_field :password, autocomplete: "off" %></td>
  </tr>

  <tr>
  	<td class="label"><%= f.label :password_confirmation %></td>
    <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
  </tr>
  
  <tr>
  	<td class="label"><%= f.label :sex %></td>
  	<td><%= f.select :sex, [['Не выбран', ''], ['Мужской', 0], ['Женский', 1]] %></td>
  </tr>
  
  <tr>
  	<td class="label"><%= f.label :age %></td>
    <td><%= f.text_field :age, autocomplete: "on" %></td>
  </tr>
  
  <tr>
  	<td class="label"><%= f.label :avatar %></td>
    <td><%= f.file_field :avatar %></td>
  </tr>
  
  <tr>
  	<td class="label"><%= f.label :about %></td>
    <td><%= f.text_area :about %></td>
  </tr>
  
  <tr>
  	<td></td>
  	<td><%= f.submit "", class: 'register-btn' %></td>
  </tr>
<% end %>
</table>

