<h1 style="background-position-x: 237px">Объявления</h1>
				<% if user_signed_in? && current_user.admin %>
					<a href="/ad/export">Выгрузить объявлеия</a>
				<% end %>
                <ul class="category-list">
                	<% @categories.each do |c|%>
                		<li>
	                        <table>
	                            <tr><td style="border-bottom: 1px solid #abaaaa;">
	                                <%= link_to "#{image_tag(c.icon.url(:thumb))}".html_safe+' '+c.name, ad_path(c.alias)%>
	                            </td></tr>
	                            <tr><td>
	                                <ul class="sub-category">
	                                	<% sub_cat = AdSubcategorie.where('ad_categorie_id = ?', c.id)%>
	                                	<% sub_cat.each do |s|%>
	                                		<% ad_count = Ad.where("ad_categorie_id = ? AND ad_subcategorie_id = ?", c.id, s.id).count %>
	                                		<li><%= link_to s.name+' ('+ad_count.to_s+')', ad_path(c.alias, s.alias)%></li>
	                                	<% end %>
	                                </ul>
	                            </td></tr>
	                        </table>
	                    </li>
                	<% end %>
                </ul>
                <% banner = Banner::where('label = "ad_banner"')[0]%>
                <% if banner.link != '#'%>
                	<a href="<%= banner.link %>">
               	<% end %>
                	<img class="content-banner" src="<%= banner.image.url(:original) %>">
                <% if banner.link != '#'%>
                	</a>
                <% end %>
