<table>
		<tr>
			<th>Название</th>
			<th>Изображение</th>
			<th>Содержание</th>
			<th>Цена</th>
			<th>Контакт для связи</th>
			<th>Категория</th>
			<th>Подкатегория</th>
			<th>Имя подавшего объявление</th>
			<th>Почта подавшего объявление</th>
			<th>Телефон подавшего объявление</th>
		</tr>
	<% @ads.each do |a| %>
		<tr>
			<td><%= a.name%></td>
			<td><%= 'http://pochem40.ru/'+a.image.url(:thumb)%></td>
			<td><%= a.introtext.html_safe%></td>
			<td><%= a.price%></td>
			<td><%= a.contact%></td>
			<td><%= AdCategorie.where('id = ?',a.ad_categorie_id)[0].name%></td>
			<td><%= AdSubcategorie.where('id = ?',a.ad_subcategorie_id)[0].name%></td>
			<td><%= a.per_name%></td>
			<td><%= a.per_mail%></td>
			<td><%= a.per_phone%></td>
		</tr>
	<% end%>
</table>
