 <h1 style="background-position-x: 237px">Объявления</h1>
                <ul class="item-list">
                	<% @ads.each do |a| %>
	                	<li>
	                        <img src="<%= a.image.url(:thumb)%>" alt=""/>
	                        <div class="item-text-info">
	                            <span class="head-text"><%= a.name%></span>
	                            <span class="price-text"><%= a.price%> руб.</span>
	                            <span class="intro-text"><%= a.introtext.html_safe%></span>
	                            <span class="item-contact"><%= a.contact%></span>
	                        </div>
	                        <div class="clear"></div>
	                    </li>
                	<% end %>
                </ul>
                <%= will_paginate @ads %>