<h1 style="background-position-x: 200px"><%= @article.description %></h1>
                <span class="textpage-text">
                    <br/>
                    <%= @article.content.html_safe %>
                </span>