<h1>Архив</h1>
                <div class="release-info">
                    <img src="<%= @current_journal.preview.url(:medium)%>" />
                    <div class="text-info">
                        <span class="release-name">Че почем № <%= @current_journal.name%></span>
                        <span class="content-header">В номере:</span>
                        <%= @current_journal.content.html_safe %>
                    </div>
                    <table class="action-table">
                    	<tr><td>
                    		<a href="<%= @current_journal.pdf.url(:original)%>" class="download-btn" target="_blank"></a>
                    	</td></tr>
                    	<tr><td>
                    		<span class="file-info"><%= @current_journal.pdf_file_name%> <%= number_to_human_size(File.size(@current_journal.pdf.path(:original)))%></span>
                    	</td></tr>
                    	<tr><td>
                    		<a href="/journal/view/<%= @current_journal.alias %>" class="register-link" style="font-size: 16px !important;" target="_blank">Читать on-line</a>
                    	</td></tr>
                    </table>
                </div>
            
            <div class="clear"></div>
            <div class="hor-line"></div>
            <div class="jcarousel-wrapper">

                <!-- Carousel -->
                <div class="jcarousel">
                    <ul>
                    	<% @journals.each do |j|%>
                    		<li><%= link_to "#{image_tag(j.preview.url(:thumb))}".html_safe, journal_details_path(j.alias), title: '№'+j.name %></li>
                    	<% end %>
                    </ul>
                </div>

                <!-- Prev/next controls -->
                <a href="#" class="jcarousel-control-prev"><img src="/im/left.png"></a>
                <a href="#" class="jcarousel-control-next"><img src="/im/right.png"></a>

            </div>