<h1 style="background-position-x: 190px">Контакты</h1>
                <div class="contacts-map">
                  <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=rrroa1msorNvruhB6h6uYP9153J_8wx6&width=400&height=400"></script>
                </div>
                <div class="contacts-text">
                    <span class="phone-code">(<%= @contacts.phone_code %>)<span class="phone-number"><%= @contacts.phone %></span></span>
                    <span class="address">
                        <%= @contacts.address %><br />
                        <%= @contacts.build %><br />
                        <%= @contacts.email %><br />
                        <%= @contacts.timetable %><br />
                    </span>
                </div>