					<h1 style="background-position-x: 190px"><%= @page_header %></h1>
					<%if @count_items_on_page > 0%>
					<% if @count_items_on_page > 3 %>
						<% limit = 2 %>
					<% else %>
						<% limit = @count_items_on_page-1 %>
					<% end %>
                    <div class="column-1">
                    	<% (0..limit).each do |i| %>
	                    	<div class="item">
	                            <h2><%= link_to @articles[i].title, article_page_path(@articles[i].alias) %></h2>
	                            <% if i == 0%>
	                            	<%= link_to "#{image_tag(@articles[i].preview.url(:medium))}".html_safe, article_page_path(@articles[i].alias)%>
	                            <% else %>
	                            	<%= link_to "#{image_tag(@articles[i].preview.url(:thumb))}".html_safe, article_page_path(@articles[i].alias)%>
	                            <% end %>
	                            <span><%= link_to @articles[i].introtext.html_safe, article_page_path(@articles[i].alias) %></span>
	                        </div>
	                        <span class="tags-head">Теги:</span>
	                        <ul class="tags">
	                        	<% tags = @articles[i].tags.split(/,/) %>
	                        	<% tags.each_with_index do |t, i|%>
	                        		<li><%= link_to t, '/tag?t='+t%>
	                        			<% if i != tags.size - 1%>
	                        			<span style="margin-left: -2px">,</span>
	                        			<% end %>
	                        		</li>
	                        	<% end %>
	                        </ul>
	                        <div class="likes" data-type="<%= @articles[i].id %>">
	                            <span class="likes-count"><%= (!@articles[i].likes) ? "0" :  @articles[i].likes %></span>
	                            <img src="/im/heart.png">
	                        </div>
                    	<% end %>
                    </div>
                    <% if @count_items_on_page > 3%>
                    <div class="column-2">
                    	<% if @count_items_on_page > 7%>
                    		<% limit = 7 %>
                    	<% else %>
                    		<% limit = @count_items_on_page %>
                    	<% end %>
                    	<% (3..limit-1).each do |i|%>
                    		<div class="item item-small">
	                            <h3><%= link_to @articles[i].title, article_page_path(@articles[i].alias) %></h3>
	                            <span><%= link_to @articles[i].introtext.html_safe, article_page_path(@articles[i].alias) %></span>
	                        </div>
	                        <span class="tags-head">Теги:</span>
	                        <ul class="tags">
	                            <% tags = @articles[i].tags.split(/,/) %>
	                        	<% tags.each_with_index do |t, i|%>
	                        		<li><%= link_to t, '/tag?t='+t%>
	                        			<% if i != tags.size - 1%>
	                        			<span style="margin-left: -2px">,</span>
	                        			<% end %>
	                        		</li>
	                        	<% end %>
	                        </ul>
	                        <div class="likes" data-type="<%= @articles[i].id %>">
	                            <span class="likes-count"><%= (!@articles[i].likes) ? "0" :  @articles[i].likes %></span>
	                            <img src="/im/heart.png">
	                        </div>
	                        <div class="clear"></div>
                    	<% end %>
                    </div>
                    <% end %>
                    <div class="clear"></div>
                    <%= will_paginate @articles %>
                    <% end %>