<h1 style="background-position-x: 308px">Наши партнеры</h1>
                <span class="partner-text">
                	<%= AddText.find_by_label('ad_text').content.html_safe%>
                </span>
                <ul class="partners">
                	<% @partners.each do |p| %>
                		<li>
	                        <a href="<%= p.link%>"><img src="<%= p.preview.url(:thumb)%>" alt=""/></a>
	                        <a href="<%= p.link%>"><span><%= p.name%></span></a>
	                    </li>
                	<% end %>
                </ul>