<h2 class="login"><%= @user.name %></h2>
<table>
	<tr>
		<td>
			<% if @user.avatar.url(:thumb) != '/avatars/thumb/missing.png' %>
				<img src="<%= @user.avatar.url(:thumb)%>">
			<% end %>
			<div class="user-info">
			  <%if @user.sex %>
				  <span class="user-info-lable">Пол:</span>
				  <span class="user-info-value"><%= (@user.sex == 0) ? 'Мужской' : 'Женский'%></span>
			  <% end %>
			  <%if @user.age %>
				  <span class="user-info-lable">Возраст:</span>
				  <span class="user-info-value"><%= @user.age %></span>
			  <% end %>
			  <span class="user-info-lable">Зарегистрирован:</span>
			  <span class="user-info-value"><%= Date.strptime(@user.created_at.to_s, "%Y-%m-%d %H:%M:%S %Z").strftime("%m.%d.%Y") %></span>
			</div>
		</td>
		<td valign="top">
			<span class="about-label">О себе</span>
			<span class="about-text">
				<%= @user.about%>
			</span>
		</td>	
	</tr>
</table>
	
