<h1 style="background-position-x: 200px"><%= @article.title %></h1>
                <span class="textpage-text">
                    <br/>
                    <%= @article.content.html_safe %>
                </span>
                <span class="tags-head">Теги:</span>
                <ul class="tags tags-inner">
                    <% tags = @article.tags.split(/,/) %>
	                        	<% tags.each_with_index do |t, i|%>
	                        		<li><%= link_to t, '/tag?t='+t%>
	                        			<% if i != tags.size - 1%>
	                        			<span style="margin-left: -2px">,</span>
	                        			<% end %>
	                        		</li>
	                        	<% end %>
                </ul>
                <div class="hor-line" style="margin-left: 0; background-repeat: repeat-x; margin-top: 5px"></div>
                <span class="similar-head">Похожие публикации:</span>
                <ul class="similar-list">
                	<% @similar = @article.similar_articles.split(/,/)%>
                	<% @similar.each_with_index do |s, i| %>
                		<% @item = Article.find(s.to_i) %>
                		<li><span class="similar-num"><%= i+1 %></span><%= link_to @item.title, article_page_path(@item.alias) %></li>
                	<% end %>
                </ul>
                <div class="clear"></div>
                <span class="comments-header">Комментарии<br /><span class="comments-subheader">(только для зарегистрированных пользователей)</span></span>
                <ul class="comments">
                	<% @comments.each do |c| %>
                		<% user_info = User.find(c.user_id) %>
	                	<li>
	                		<table>
	                			<tr>
	                				<td valign="top">
	                					<%if user_info.avatar.url(:small) != '/avatars/small/missing.png' %>
	                						<img src="<%= user_info.avatar.url(:small)%>" class="comment-image">
	                					<% end %>
	                					<a href="/user/<%= user_info.id %>" class="comment-login"><%= user_info.name %></a>
	                				</td>
	                				<td valign="top">
	                					<span class="comment-date"><%= Date.strptime(c.created_at.to_s, "%Y-%m-%d %H:%M:%S %Z").strftime("%Y-%m-%d") %></span>
	                					<span class="comment-body"><%= c.comment_body %></span>
	                					<% if user_signed_in? %>
	                						<% if current_user.admin.to_i == 1 %>
		                							<a href="#" class="delete-response" data-type="<%= c.id%>">Удалить</a>
		                					<% end %>
		                					<a href="#" class="comment-response">Ответить</a>
		                					<div class="comment-form" data-type="<%= c.id%>"></div>
		                				<% end %>
	                				</td>
	                			</tr>		
	                		</table>
	                	</li>
	                	<% comments_second_lvl = Comment.where('parent_id = ?', c.id)%>
	                	<% comments_second_lvl.each do |s_c|%>
	                		<% user_info = User.find(s_c.user_id) %>
	                		<li style="margin-left: 50px;">
		                		<table>
		                			<tr>
		                				<td valign="top">
		                					<%if user_info.avatar.url(:small) != '/avatars/small/missing.png' %>
	                							<img src="<%= user_info.avatar.url(:small)%>" class="comment-image">
	                						<% end %>
		                					<a href="/user/<%= user_info.id %>" class="comment-login"><%= user_info.name %></a>
		                				</td>
		                				<td valign="top">
		                					<span class="comment-date"><%= Date.strptime(s_c.created_at.to_s, "%Y-%m-%d %H:%M:%S %Z").strftime("%Y-%m-%d") %></span>
		                					<span class="comment-body"><%= s_c.comment_body %></span>
		                					<% if user_signed_in? %>
		                						<% if current_user.admin.to_i == 1 %>
		                							<a href="#" class="delete-response" data-type="<%= s_c.id%>">Удалить</a>
		                						<% end %>
			                					<a href="#" class="comment-response">Ответить</a>
			                					<div class="comment-form" data-type="<%= s_c.id%>"></div>
		                					<% end %>
		                				</td>
		                			</tr>		
		                		</table>
		                	</li>
		                	<% comments_third_lvl = Comment.where('parent_id = ?', s_c.id)%>
	                		<% comments_third_lvl.each do |t_c|%>
	                		<% user_info = User.find(t_c.user_id) %>
	                		<li style="margin-left: 100px;">
		                		<table>
		                			<tr>
		                				<td valign="top">
		                					<%if user_info.avatar.url(:small) != '/avatars/small/missing.png' %>
	                							<img src="<%= user_info.avatar.url(:small)%>" class="comment-image">
	                						<% end %>
		                					<a href="/user/<%= user_info.id %>" class="comment-login"><%= user_info.name %></a>
		                				</td>
		                				<td valign="top">
		                					<span class="comment-date"><%= Date.strptime(t_c.created_at.to_s, "%Y-%m-%d %H:%M:%S %Z").strftime("%Y-%m-%d") %></span>
		                					<span class="comment-body"><%= t_c.comment_body %></span>
		                					<% if user_signed_in? %>
		                						<% if current_user.admin.to_i == 1 %>
		                							<a href="#" class="delete-response" data-type="<%= t_c.id%>">Удалить</a>
		                						<% end %>
		                					<% end %>
		                				</td>
		                			</tr>		
		                		</table>
		                	</li>
	                		<% end %>
	                	<% end %>
                	<% end %>
                </ul>
                <% if user_signed_in? %>
                <div id="comment-form">
					<span class="comments-header">Оставить коментарий</span>
					<%= form_for :comment,:html => {:class => 'comment-form-content', :onsubmit => "$($(this).children()[2]).attr('value',($($(this).parent()).attr('data-type')));"} do |f|%>
						<%= f.text_area :comment_body, :style => "width: 350px;display: block; height: 100px;margin-top: 10px; margin-bottom: 10px;" %>
						<%= f.hidden_field :parent_id, :class => "parent_id" %>
						<%= f.submit 'Отправить'%>
					<% end %>
				</div>
				<% end %>
