<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="100%" height="100%">
<param name="movie" value="<%= @journal.swf.url(:original)%>" />
<param name="quality" value="high" />
<param name="bgcolor" value="#ffffff" />
<embed src="<%= @journal.swf.url(:original)%>" quality="high" bgcolor="#ffffff" width="100%" height="100%" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>