         <h3 class="form-header">Заполните форму</h3>
        <a href="#" class="close-form"><img src="/im/close.png" /></a>
        <%= form_for @ad_form, url: {}, html: {id: 'requestForm'} do |f| %>
				<% if @ad_form.errors.any? %>
				<ul class="errors">
				  <% @ad_form.errors.full_messages.each do |msg| %>
				    <li><%= msg %></li>
				  <% end %>
				</ul>
				<% end %>
				<table class="form-table">
                <tr>
                    <td class="label">ФИО<span class="required">*</span></td>
                    <td><%= f.text_field :per_name %></td>
                </tr>
                <tr>
                    <td class="label">Email</td>
                    <td><%= f.text_field :per_mail %></td>
                </tr>
                <tr>
                    <td class="label">Телефон</td>
                    <td><%= f.text_field :per_phone %></td>
                </tr>
                <tr>
                    <td class="label">Заголовок*</td>
                    <td>
                  		<%= f.text_field :name %>
                    </td>
                </tr>
                <tr>
                    <td class="label">Цена*</td>
                    <td>
                  		<%= f.text_field :price %>
                    </td>
                </tr>
                <tr>
                    <td class="label">Телефон для связи*</td>
                    <td>
                  		<%= f.text_field :contact %>
                    </td>
                </tr>
                <tr>
                    <td class="label">Категория<span class="required">*</span></td>
                    <td>
                    	<%= f.collection_select :ad_categorie_id, AdCategorie.all, :id, :name, prompt: "Выберете категорию" %>
                    </td>
                </tr>
                <tr>
                    <td class="label" id="ad_ad_subcategorie_id_label" <%= (@ad_form.ad_subcategorie_id && @ad_form.ad_categorie_id) ? "style='display: block'".html_safe : ''%> >Подкатегория*</td>
                    <td>
                    	<% if(@ad_form.ad_subcategorie_id && @ad_form.ad_categorie_id) %>
                    		<%= f.collection_select :ad_subcategorie_id, AdSubcategorie.where('ad_categorie_id = ?',@ad_form.ad_categorie_id), :id, :name, { :prompt => "Выберете категорию" }, {:style => 'display: block'} %>
                    	<% else %>
                    		<%= f.select :ad_subcategorie_id, %w[] %>
                    	<% end %>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="label">Текст объявления</span><br />
                        <%= f.text_area(:introtext) %>
                    </td>
                </tr>
                <tr>
                    <td class="label">Файл изображения</td>
                    <td>
                  		<%= f.file_field :image %>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><%= link_to '', '#', class: 'button15', id: 'send-btn', onclick: "$('#requestForm').submit()" %></td>
                </tr>
            </table>
        <% end %>
        <% if(@forms_erros.blank? && @forms_errors == 1)%>
        	<script type="text/javascript">
        		$(document).ready(function(){
        				open_form();
        		})
        		
        	</script>
        <% end %>
