@font-face {
    font-family: HelveticaMedium;
    src: url(HelveticaNeueMedium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

body {
    background: url("../im/bg.png") repeat;
}

.container-center {
    margin: 0 auto;
    width: 1004px;
    text-align: left;
}

.header {
    background: url("../im/header.png") repeat-x;
    width: 100%;
    height: 116px;
}

.header-left, .header-right {
    float: left;
}

.header-left {
    padding-top: 21px;
    padding-right: 0px;
    padding-left: 21px;
}

.menu {
    display: block;
    list-style-type: none;
    background: url("../im/menu-bg.png") repeat-x;
    width: 723px;
    height: 36px;
    padding-left: 5px;
    padding-right: 0px;
}

.menu li {
    float: left;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: Tahoma;
    font-size: 14px;
}

.menu .active {
    background: url("../im/active-menu.png") repeat-x;
    font-size: 14px;
    color: black;
    font-family: "Tahoma";
    height: 100%;
    margin-top: 0;
    display: table-cell;
    padding-top: 11px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu .active img {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.send-btn {
    background: url("../im/send-btn.png") 0 5px no-repeat;
    width: 122px;
    height: 25px;
    font-size: 10px;
    font-family: "Tahoma";
    font-weight: bold;
    color: black;
    padding-left: 26px !important;
    margin-left: 26px;
    cursor: pointer;
    padding-right: 0;
    margin-right: 0;
}

.header-right-bottom {
    padding-top: 30px;
    background: url("../im/contacs-bg.png") top right repeat-y;
    height: 50px;
}

.header-right-bottom div {
    float: left;
}

.search-input {
    border: 1px solid #e5e5e5;
    width: 190px;
    height: 27px;
    border-radius: 3px;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    color: #bfbebe;
    padding-left: 5px;
}

.search-btn {
    border: 0;
    background: url("../im/search-btn.png") no-repeat;
    width: 10px;
    height: 10px;
    margin-left: -25px;
}

.header-contacts {
    font-family: Tahoma;
    font-size: 11px;
    color: #7b7b7b;
    text-align: right;
    margin-left: 80px;
    border-right: 1px solid #c0c0c0;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: -6px;
}

.header-phone {
    margin-top: -6px;
}

.code, .phone-number-header {
   font-family: HelveticaMedium;
   font-size: 30px;
}
.code {
    color: #c32429;
}

.header-phone img {
    margin-left: 20px;
    margin-right: 13px;
}
.main {
    /*padding-bottom: 20px;*/
}

.main .container-center {
	display: table;
}

.left-panel, .main-panel, .right-panel {
    /*float: left;*/
    padding-bottom: 30px;
    display: table-cell;
    vertical-align: top;
}

.left-panel {
    width: 130px;
    background: url("../im/left-panel-bg.png") repeat-y;
    padding-left: 20px;
    padding-top: 17px;
    -webkit-box-shadow: -1px 0px 7px 0px rgba(50, 50, 50, 0.67);
    -moz-box-shadow:    -1px 0px 7px 0px rgba(50, 50, 50, 0.67);
    box-shadow:         -1px 0px 7px 0px rgba(50, 50, 50, 0.67);
}

.rubric {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 9px;
    background: #c94347;
    padding: 3px;
    border-radius: 3px;
    color: white;
}

.rubric-menu {
    margin-top: 20px;
    margin-left: 20px;
    list-style-type: square;
    color: #ca4448;
    margin-bottom: 57px;
}

.rubric-menu li {
    margin-top: 13px;
}

.rubric-menu a {
    font-family: "Tahoma";
    font-size: 13px;
    color: #525252;
}

.rubric-menu .active {
    font-family: "Tahoma";
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.sub-rubric {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 8px;
}

.sub-rubric li {
    margin-top: 12px;
}

.sub-rubric a {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 11px;
    color: #cb4449;
    text-decoration: none;
}

.sub-rubric .active {
    color: #e08e91;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
}


.main-panel {
    background: white;
    padding-top: 34px;
    padding-left: 19px;
    width: 652px;
}

.top-offers {
    margin-left: 15px;
    margin-right: 16px;
}

.top-offers a {
    margin-right: 17px;
    display: block;
    float: left;
}

.right-panel {
    width: 173px;
    background: white;
    padding-left: 10px;
}

.content {
    width: 633px;
    margin-top: 31px;
    padding-top: 15px;
    padding-left: 16px;
    background: url("../im/shadow-bg.png") no-repeat;
    height: 100%;
    min-height: 600px;
}

.breadcrumbs {
    list-style-type: none;
}

.breadcrumbs li {
    float: left;
}

.breadcrumbs a, li {
    font-family: Tahoma;
    color: #b5b5b5;
    font-size: 10px;
}

.breadcrumbs .devider {
    color: black;
}

.number {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    color: #505050;
    margin-top: 37px;
    display: inline-block;
    border-bottom: 1px solid #b1b2b5;
    padding-bottom: 5px;
    cursor: pointer;
}

.number-list {
    position: absolute;
    list-style-type: none;
    padding: 15px 15px 15px 15px;
    -webkit-box-shadow: 4px -3px 11px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px -3px 11px 0px rgba(0,0,0,0.25);
    box-shadow: 4px -3px 11px 0px rgba(0,0,0,0.25);
    width: 105px;
    display: none;
    background: white;
    z-index: 99;
}

.number-list li{
    margin-top: 7px;
}

.number-list a{
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    color: #505050;
}

.column-1, .column-2 {
    float: left;
}

.column-2 {
    padding-left: 65px;
}

.item {
    margin-top: 30px;
    width: 372px;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 12px;
    position: relative;
}

.item-small {
    margin-top: 30px;
    width: 161px;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 12px;
    position: relative;
}

.item h2 {
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: #c84246;
    margin-bottom: 20px;
}

.item h2 a{
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: #c84246;
    text-decoration: none;
}

.item h3 {
    font-family: Tahoma;
    font-size: 15px;
    font-weight: bold;
    color: #c84246;
}

.item h3 a {
    font-family: Tahoma;
    font-size: 15px;
    font-weight: bold;
    color: #c84246;
    text-decoration: none;
}

.item span {
    font-family: Tahoma;
    font-size: 12px;
    color: #252525;
}

.item span a {
	font-family: Tahoma;
    font-size: 12px;
    color: #252525;
    text-decoration: none;
}

.item img {
    float: left;
    margin-right: 15px;
}

.tags-head {
    font-family: Tahoma;
    font-size: 10px;
    color: #777777;
    display: inline-block;
    width: 29px;
    height: 18px;
    float: left;
    margin-top: 6px;
}

.tags {
    list-style-type: none;
    display: inline-block;
    
}

.column-2 .tags {
	width: 100px;float: left;
}

.tags li {
    display: inline-block;
}

.tags a {
    text-decoration: none;
    font-family: Tahoma;
    font-size: 10px;
    color: #6db3e3;
    margin-top: 2px;
    padding-top: 4px;
    display: inline-block;
}

.likes {
    float: right;
    cursor: pointer;
    /*margin-top: -20px;*/
}

.likes-count {
    font-family: Tahoma;
    font-size: 10px;
    color: #434343;
}

.login-form {
    width: 158px;
    height: 96px;
    background: url("../im/login-form-bg.png") repeat-x;
    border-radius: 3px;
    margin-top: 19px;
    padding-top: 1px;
}
fieldset {
    margin-top: 7px;
    border: 0;
}
.login-form label {
    color: #6d6d6d;
    font-family: Tahoma;
    font-size: 10px;
    margin-left: 7px;
}

.login-form input {
    width: 92px;
    height: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.login-form input[type=submit], .register-btn {
    background: url("../im/login-btn.png") no-repeat;
    border: 0;
    width: 62px;
    height: 28px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.banner {
    margin-top: 43px;
    display: block;
}

.vote {
    background: url("../im/vote-bg.png");
    width: 143px;
    height: 195px;
    border-radius: 3px;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 17px;
}

.vote span:first-child {
    font-family: Tahoma;
    font-size: 10px;
    font-weight: bold;
    color: white;
    display: block;
}

.vote .vote-header {
    font-family: Tahoma;
    font-size: 19px;
    font-weight: bold;
    color: white;
    display: block;
    margin-bottom: 6px;
    margin-top: 8px;
}

.vote-label {
   display: inline-block;
    font-family: Tahoma;
    font-size:12px;
    color: white;
    margin-left: 12px;
}

.vote input {
    margin-top: 10px;
}

.vote a {
    background: url("../im/vote-btn.png") no-repeat;
    width: 83px;
    height: 30px;
    border: 0;
    margin-top: 7px;
    margin-left: 24px;
    cursor: pointer;
    display: block;
}

.advertisement {
    font-family: Tahoma !important;
    font-size: 10px !important;
    color: #757575 !important;
    float: right;
}

.footer .container-center {
    background: #c64347;
    height: 123px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bottom-menu {
    list-style-type: none;
}

.bottom-menu li {
    float: left;
    margin-right: 60px;
    margin-top: 20px;
}

.bottom-menu li:first-child {
    margin-left: 104px;
}

.bottom-menu a {
    font-family: Tahoma;
    font-size: 17px;
    color: white;
    text-decoration: none;
}

h1{
    display: block;
    font-family: Tahoma;
    font-size: 36px;
    color: #bebebe;
    margin-top: 26px;
    /*background: url("../im/h1-bg.png") 120px 25px no-repeat;*/
    margin-right: 25px;
}

.release-info img {
    float: left;
    margin-top: 20px;
    display: block;
}

.text-info {
    float: left;
    margin-top: 20px;
    margin-left: 42px;
}

.text-info > ul {
	width: 220px;
}

.release-name {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 10px;
    color: #c84347;
    display: block;
}

.content-header {
    margin-top:20px;
    display: block;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
    color: #323232;
}

.release-info ul {
    margin-top: 25px;
    margin-left: 16px;
}

.release-info ul li {
    font-family: Tahoma;
    font-size: 13px;
    color: #252525;
}

.download-btn {
    width: 119px;
    height: 32px;
    display: inline-block;
    background: url("../im/download-btn.png");
    margin-top: 20px;
    position: relative;
    z-index: 99;
}

.file-info {
    background: url("../im/file-info-bg.png") no-repeat;
    width: 110px;
    height: 15px;
    display: inline-block;
    font-family: Tahoma;
    font-size: 10px;
    color: white;
    position: relative;
    top: -14px;
    left: 2px;
    padding-top: 14px;
    padding-left: 4px;
}

.hor-line {
    background: url("../im/hor-line.png") no-repeat;
    width: 100%;
    height: 34px;
    margin-top: 28px;
}

.jcarousel-wrapper {
    position: relative;
}

.jcarousel-control-prev {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -15px;
}
.jcarousel-control-next {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -15px;
}

.jcarousel {
    width: 540px;
    margin-left: 41px;
}
.jcarousel li {
    margin-right: 35px;
}

.contacts-map  {
    float: left;
}

.contacts-text {
    float: right;
    margin-right: 30px;
}

.contacts-map span {
    font-family: Tahoma;
    font-size: 13px;
    color: #252525;
    margin-top: 30px;
    margin-bottom: 15px;
    display: block;
}

.map-auto, .map-bus {
    width: 365px;
    height: 140px;
    border: 1px solid #e7e7e7;
}

.phone-code {
    font-family: Tahoma;
    font-size: 13px;
    color: #6e6e6e;
    display: block;
    margin-top: 30px;
    text-align: right;
}

.phone-number {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
    color: #6e6e6e;
}

.address {
    display: block;
    font-family: Tahoma;
    font-size: 13px;
    color: #6e6e6e;
    line-height: 27px;
    margin-top: 10px;
    text-align: right;
}

.category-list {
    list-style-type: none;
    margin-left: 40px;
    margin-top: 30px;
}
.category-list li {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.category-list li:first-child {
    /*margin-top: -10px;*/
}

.category-list a {
    color: #737272;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.category-list img {
    position: relative;
    top: 10px;
}

.sub-category {
    display: table-cell;
}

.sub-category li {
    display: block;
    border-bottom: none;
}

.sub-category li:first-child {
    margin-top: 10px;
}

.sub-category a {
    color: #a2a2a2;
    font-family: Tahoma;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
}

.content-banner {
    margin-top: 100px;
}

.item-list img {
    float: left;
    margin-right: 15px;

}

.item-list {
    margin-top: 30px;
}

.item-list li {
    padding: 5px 5px 5px 5px;
    border: 1px solid #e7e7e7;
    margin-right: 25px;
    margin-top: 25px;
}

.head-text {
    font-family: Tahoma;
    font-size: 15px;
    font-weight: bold;
    color: #535353;
}

.price-text {
    font-family: Tahoma;
    font-size: 15px;
    font-weight: bold;
    color: #535353;
    float: right;
}

.intro-text {
    display: block;
    font-family: Tahoma;
    font-size: 13px;
    color: #8a8a8a;
    padding-bottom: 13px;
    border-bottom: 1px solid #ededed;

}

.item-contact {
    color: #8a8a8a;
    font-weight: bold;
    font-size: 13px;
    font-family: Tahoma;
    float: right;
}

.filter {
    list-style-type: none;
    margin-left: -10px;
}

.filter li {
    margin-top: 10px;
}

.filter img {
    margin-top: -3px;
}

.filter span {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold;
    color: #737272;
    position: relative;
    top: -5px;
}

.filter a {
    text-decoration: none;
}

.sub-filter {
    margin-left: 40px;
    list-style-type: none;
}

.sub-filter a {
    font-family: Tahoma;
    font-size: 14px;
    color: #a2a2a2;
}

.sub-filter .active {
    background: url("../im/filter-select.png") no-repeat;
    width: 69px;
    height: 23px;
    color: #fefefe;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 3px;
}

.content .partner-text {
    font-family: Tahoma;
    font-size: 13px;
    color: #252525;
    margin-top: 20px;
    display: block;
}
.partners {
    list-style-type: none;
}

.partners img {
    display: block;
}
.partners li {
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}

.textpage-text {
   font-family: Tahoma;
   font-size: 12px;
   color: #252525;
    display: block;
    padding-right: 15px;
    line-height: 20px;
}

.tags-head-inner {
    margin-top: 30px;
}

.similar-head {
    font-family: Tahoma;
    font-size: 18px;
    color: #bebebe;
    display: block;
}

.similar-list {
    list-style-type: none;
    width: 100%;
    margin-top: 15px;
}

.similar-list li {
    float: left;
    margin-right: 20px;
}

.similar-list a {
    font-family: Tahoma;
    font-size: 12px;
    color: #b3b3b3;
    display: block;
    width: 112px;
    display: block;
    padding-left: 26px;
}

.similar-num {
    width: 15px;
    height: 15px;
    background: url("../im/number-bg.png") no-repeat;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Tahoma;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
    float: left;
    line-height: 14px;
    margin-right: 10px;
}

#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: 0.7;
    z-index: 9000;
    width: 100%;
    height: 100%;
    display: none;
}

#pop-up {
    display: none; /*--по умолчанию скрыты--*/
    background: #fff;
    padding: 25px;
    float: left;
    font-size: 1.2em;
    position: fixed;
    z-index: 99999;
    width: 536px;
    min-height: 584px;
    position: absolute;
}

.form-header {
    color: #ca1319;
    font-family: Tahoma;
    font-size: 19px;
}

.close-form {
    position: relative;
    display: block;
    float: right;
    margin-top: -30px;
}

.label {
   font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    color: #ababab;
    padding-right: 30px;
    display: block;
    margin-top: 20px;
}

span.label {
    margin-top: 18px;
    display: block;
}

.form-table input[type=text], .form-table input[type=email], .form-table input[type=password] {
    width: 365px;
    height: 23px;
    margin-top: 18px;
    border: 1px solid #ebebeb;
}

.form-table select {
    width: 232px;
    height: 23px;
    margin-top: 18px;
}

.form-table textarea {
    width: 496px;
    height: 114px;
    border: 1px solid #ebebeb;
}

#send-btn {
    float: right;
    background: url("../im/sendform-btn.png") no-repeat;
    width: 110px;
    height: 35px;
}

.errors {
    margin-top: 18px;
    margin-left: 18px;
}

.errors li {
    color: red;
}

.pagination {
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}

.pagination a {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
		background: #d3d3d3;
	width: 22px;
	height: 19px;
	display: inline-block;
		text-align: center;
	padding-top: 3px;
}

.pagination .current {
	background: #c84246;
	width: 22px;
	height: 19px;
	display: inline-block;
		font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding-top: 3px;
}

.pagination .previous_page, .pagination .next_page {
	display: none;
}

.partners a {
	color: #b5b5b5;
	text-decoration: none;
}

#ad_ad_subcategorie_id, #ad_ad_subcategorie_id_label {
	display: none;
}

.success-text {
	font-family: Tahoma;
	font-size: 14px;
}

.register-btn {
	margin-right: 0px;
	margin-top: 20px;
}

#error_explanation h2 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: red;
	margin-top: 25px;
}

#error_explanation ul {
	margin-left: 20px;
	list-style-type: none;
	margin-top: 10px;
}

#error_explanation ul li {
	font-size: 12px;
	color: red;
}

.register-link {
	font-family: Tahoma;
	font-size: 12px;
	color: #525252;
	margin-top: 10px;
	display: inline-block;
	margin-left: 7px;
}

.hello-text {
	font-family: Tahoma;
	font-size: 12px;
	color: #525252;
	margin-top: 10px;
	display: block;
	margin-left: 7px;
}

.hello-text-name {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #525252;
	margin-top: 10px;
	display: block;
	margin-left: 7px;
}

.logout-btn {
	background: url("../im/logout-btn.png") no-repeat;
	border: 0;
	width: 62px;
	height: 28px;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	cursor: pointer;
	display: block;
}

.login {
	font-family: Tahoma;
	font-size: 28px;
	color: #8a8a8a;
	margin-top: 20px;
	margin-bottom: 10px;
}

.user-info {
	height: 107px;
	width: 123px;
	background: #faf7ed;
	border: 1px solid #ccc5ab;
	border-radius: 3px;
	padding: 7px;
	margin-top: 15px;
}

.user-info-lable {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 12px;
	color: #252525;
	line-height: 25px;
}

.user-info-value {
	font-family: Tahoma;
	font-size: 12px;
	color: #252525;
	line-height: 25px;
}

.about-label {
	display: block;
	color: #323232;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 18px;
	margin-left: 15px;
}

.about-text {
	display: block;
	margin-left: 15px;
	font-family: Tahoma;
	font-size: 12px;
	color: #252525;
	margin-top: 10px;
}

.comments-header {
	color: #323232;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 19px;
	margin-top: 20px;
	display: block;
}
.comments {
	list-style-type: none;
}

.comments li {
	margin-top: 15px;
}
.comments span {
	display: block;
}

.comment-image {
	display: block;
}

.comment-login {
	color: #7c7c7c;
	font-family: Tahoma;
	font-size: 11px;
}

.comment-date {
	font-family: Tahoma;
	color: #7f7f7f;
	font-size: 10px;
	margin-left: 7px;
}

.comment-body {
	font-size: 12px;
	color: #252525;
	font-family: Tahoma;
	margin-top: 5px;
	margin-left: 7px;
}

.comment-response, .delete-response {
	color: #7cafd2;
	font-family: Tahoma;
	font-size: 12px;
	margin-left: 7px;
	display: block;
	margin-top: 10px;
	float: left;
	margin-right: 10px;
}

.no-link-banner {
	float:left;margin-right: 17px;
}

.no-link-banner-panel {
	margin-top: 43px;
	display: block;
}

.action-table {
	float: right;
	margin-right: 20px;
}

.comments-subheader {
	font-size: 12px;
	color: #bebebe;
}

#ad-btn-right {
	position: fixed;
	right: -50px;
	top: 40%;
	width: 67px;
	height: 293px;
	background: url(../im/ad-btn.png) no-repeat;
	z-index: 99999999;
}

#vk_groups {
	margin-top: 20px;
}
