<ul class="filter">
				<% categories = AdCategorie.all %>
				<% categories.each do |c| %>
					<li>
						<%= link_to "#{image_tag(c.icon.url(:thumb), width: 13)} <span>#{c.name}</span>".html_safe, ad_path(c.alias)%>
						<% subcategories = AdSubcategorie.where("ad_categorie_id = ?", c.id)%>
						<% if subcategories != 0 && params['categorie'] == c.alias%>
							<ul class="sub-filter">
							<% subcategories.each do |s| %>
								<li>
									<% if params[:subcategorie] == s.alias%>
										<li class="active"><%= s.name %></li>
									<% else%>
										<%= link_to s.name, ad_path(c.alias, s.alias) %>
									<% end %>
								</li>
							<% end %>
							</ul>
						<% end %>
					</li>
				<% end %>
                <!--<li><a href="#"><img src="im/nedv.png" width="13"/> <span>Недвижимость</span></a></li>
                <li><a href="#"><img src="im/nedv.png" width="13"/> <span>Недвижимость</span></a></li>
                <li><a href="#"><img src="im/nedv.png" width="13"/> <span>Недвижимость</span></a></li>
                <li><a href="#"><img src="im/nedv.png" width="13"/> <span>Недвижимость</span></a></li>
                <li class="active"><img src="im/nedv.png" width="13"/> <span>Недвижимость</span>
                    <ul class="sub-filter">
                        <li><a href="#">Продам</a></li>
                        <li class="active">Куплю</li>
                    </ul>
                </li>-->
            </ul>