<span class="rubric">РУБРИКИ</span>
                <ul class="rubric-menu">
                	<% @rubric = Rubric.all %>
                	<% @rubric.each do |r|%>
                		<% if params[:name] != r.alias %>
                    		<li><%= link_to r.name, rubric_filter_path(r.alias)%></li>
                    	<% else %>
                    		<li class="active"><%= r.name %></li>
                    	<% end %>
                    <% end %>
                    <!--<li class="active">Культура
                        <ul class="sub-rubric">
                            <li><a href="#">Культура</a></li>
                            <li class="active">Культура</li>
                        </ul>
                    </li>-->
                </ul>
                <span class="rubric">СПЕЦПРОЕКТЫ</span>
                <ul class="rubric-menu">
                    <% @specrubric = Specrubric.all %>
                	<% @specrubric.each do |r|%>
                    	<% if params[:name] != r.alias %>
                    		<li><%= link_to r.name, project_filter_path(r.alias)%></li>
                    	<% else %>
                    		<li class="active"><%= r.name %></li>
                    	<% end %>
                    <% end %>
                </ul>