<div class="right-panel">
                <div class="login-form">
                <% if user_signed_in? %>
                	<span class="hello-text">Здравствуйте,</span>
                	<span class="hello-text-name"><%= current_user.name %></span>
                	 <%= link_to 'Кабинет', profile_path(current_user.id), class: 'register-link' %>
                	 <%= link_to "", destroy_user_session_path, method: :delete, class: 'logout-btn' %>
                <% else %>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <fieldset>
                            <label><%= f.label :email %>&nbsp;&nbsp;</label>
                            <%= f.text_field :email, autofocus: true %>
                        </fieldset>
                        <fieldset>
                            <label><%= f.label :password %></label>
                            <%= f.password_field :password, autocomplete: "off" %>
                        </fieldset>
                        <%= link_to 'Регистрация', new_user_registration_path, class: 'register-link' %>
                        <%= f.submit "" %>
                    <% end %>
                <% end %>
                </div>
                <% banner = Banner::where('label = "right_panel_banner"')[0]%>
                <% if banner.link != '#'%>
                	<a href="<%= banner.link %>" class="banner">
                <% end %>
                	<img src="<%= banner.image.url(:original) %>" <%= (banner.link == '#') ? 'class=no-link-banner-panel' : ''%>>
                 <% if banner.link != '#'%>
                	</a>
                <% end %>
                <div class="vote">
                    <span>Голосование</span>
                    <span class="vote-header"><%= AddText.find_by_label('vote_header').content%></span>
                    <% if(session[:vote].blank?)%>
                    	<form id="vote_form">
                    		<% votes = Vote.all %>
	                		<% votes.each do |v|%>
	                			<input type="radio" name="vote" value="<%= v.id%>"><span class="vote-label"><%= v.vote_variant%></span><br/>
	                		<% end %>
	                    	<a href="#" id="vote_btn"></a>
	                    </form>
	                <% else %>
	                	<% votes = Vote.all %>
	                	<% votes.each do |v|%>
	                		<span class="vote-label" style="font-size: 16px; margin-top: 10px;"><%= v.vote_variant+' - '+v.vote_value.to_s %></span><br/>
	                	<% end %>
	                <% end %>
                </div>
				<script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>
				
				<!-- VK Widget -->
				<div id="vk_groups"></div>
				<script type="text/javascript">
				VK.Widgets.Group("vk_groups", {mode: 0, width: "158", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 74562325);
				</script>
            </div>