<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="favicon.png">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <title><%= @meta_title.reverse.join("&nbsp;&mdash;&nbsp;").html_safe%></title>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
    $(function() {
    	$( document ).tooltip();
  	});
  </script>
</head>
<body>
	<a href="#" id="ad-btn-right" class="send-btn"></a>
    <div class="header">
        <div class="container-center">
            <div class="header-left">
                <a href="/"><img src="/im/logo.png" alt=""/></a>
            </div>
            <div class="header-right">
                    <ul class="menu">
                        <%= is_current('site', 'index', nil, '/', 'Главная').html_safe%>
                        <%= is_current('site', 'archive', nil, '/archive', 'Архив').html_safe%>
                        <%= is_current('site', 'ad', nil, '/adverts', 'Объявления').html_safe%>
                        <%= is_current('site', 'advertisers', nil, '/advertisers', 'Рекламодателям').html_safe%>
                        <%= is_current('site', 'partners', nil, '/partners', 'Партнеры').html_safe%>
                        <%= is_current('site', 'contacts', nil, '/contacts', 'Контакты').html_safe%>
                        <li class="send-btn">ПОДАТЬ ОБЪЯВЛЕНИЕ</li>
                    </ul>
                    <div class="header-right-bottom">
                        <div class="header-search">
                        	<%= form_tag search_path, method: 'get' do %>
                            	<%= text_field_tag 'q', params[:q], :class => "search-input", :placeholder => 'ПОИСК' %>
                            	<%= submit_tag '', class: "search-btn" %>
                            <% end %>
                        </div>
                        <div class="header-contacts">
                            <%= Contacts.first.address %><br />
                            <%= Contacts.first.build %><br />
                            <a href="https://vk.com/pochem40" style="font-family: Tahoma; color: #525252; font-size: 13px;"><img src="/im/vk.png" width="16" style="position: relative;top: 5px;margin-right: 3px;">https://vk.com/pochem40</a>
                        </div>
                        <div class="header-phone">
                            <img src="/im/phone.png" />
                            <span class="code"><%= Contacts.first.phone_code %></span>
                            <span class="phone-number-header"><%= Contacts.first.phone %></span>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container-center">
            <div class="left-panel">
            	<% if controller.controller_name == 'site' && controller.action_name == 'ad' && params[:categorie] %>
            		<%= render :partial => 'layouts/left_panel_ad_list' %>
            	<% else %>
                	<%= render :partial => 'layouts/left_filter' %>
                <% end %>
            </div>
            <div class="main-panel">
                <div class="top-offers">
                	<% banner = Banner::where('label = "top_left_banner"')[0]%>
                <% if banner.link != '#'%>
                	<a href="<%= banner.link %>">
                <% end %>
                	<img src="<%= banner.image.url(:original) %>" <%= (banner.link == '#') ? 'class=no-link-banner' : ''%>>
                <% if banner.link != '#'%>
                	</a>
                <% end %>
                
                <% banner = Banner::where('label = "top_center_banner"')[0]%>
                <% if banner.link != '#'%>
                	<a href="<%= banner.link %>">
                <% end %>
                		<img src="<%= banner.image.url(:original) %>" <%= (banner.link == '#') ? 'class=no-link-banner' : ''%>>
               	<% if banner.link != '#'%>
                	</a>
               	<% end %>
               	
                <% banner = Banner::where('label = "top_right_banner"')[0]%>
                <% if banner.link != '#'%>
               	 <a href="<%= banner.link %>">
               	<% end %>
                		<img src="<%= banner.image.url(:original) %>" <%= (banner.link == '#') ? 'class=no-link-banner' : ''%>>
                <% if banner.link != '#'%>
                	</a>
                <% end %>
                </div>
                <div class="clear"></div>
                <div class="content">
                	<ul class="breadcrumbs">
                		<%= render_breadcrumbs :tag => :li, :separator => '<li class="devider">&nbsp;>>&nbsp;</li>' %>
                	</ul>
                    <div class="clear"></div>
                    
<%= yield %>

                    <div class="clear"></div>
                </div>
            </div>
            <%= render :partial => 'layouts/right_panel'%>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer">
        <div class="container-center">
            <ul class="bottom-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/archive">Архив</a></li>
                <li><a href="/adverts">Объявления</a></li>
                <li><a href="/advertisers">Рекламодателям</a></li>
                <li><a href="/partners">Партнеры</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </div>
    </div>
    <div id="overlay"></div>
    <div id="pop-up">
    	<% if @forms_errors == 0 %>
    		<%= render :partial => 'forms/success_form'%>
    		<script type="text/javascript">
        		$(document).ready(function(){
        				$("#pop-up").css('min-height', '40px');
        				open_form();
        		})
        		
        	</script>
    	<% else %>
			<%= render :partial => 'forms/ad_form'%>
		<% end %>
    </div>
</body>
</html>
