<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="favicon.png">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <title><%= @meta_title.reverse.join("&nbsp;&mdash;&nbsp;").html_safe%></title>
    <%= csrf_meta_tag %>
</head>
<body style="overflow:hidden; height:100%;margin: 0">
<%= yield %>
</body>
</html>
